<div id="api"></div>

<div id="current" data-key="">
  <div class="cover">
    <img src="" id="cover">
  </div>
  <div class="current-info">
    <h5 class="song-title">Song <span></span></h5>
    <h2 id="song"></h2>

    <h5>Album</h5>
    <h3 id="album"></h3>

    <h5>Artist</h5>
    <h4 id="artist"></h4>
  </div>
</div>

<script>
var playback_token = "<%= @playbackToken %>";
var domain = "<%= @domain %>";
var new_releases = <%= @newReleases.to_json %>;
</script>