<div class="login-button">
  <a href="/login">Connect to Rdio</a>
  <p>Login and connect your Rdio account to get started.</p>
</div>

<script>
var new_releases = <%= @newReleases.to_json %>;
</script>